.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container-upload{
margin: 10px 0;
padding: 0;
gap:10px
}

.icon-buton, .image-container-upload,.img-btn{
  display: flex;
  align-items:center;
  
}



.img-btn{
  border: #D4D7D9 dashed;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  gap: 10px;
  margin-bottom: 1vh;
  justify-content: center;
}

.icon-text{
  font-size: 1.6em;
  margin: 0;
  font-weight: 200;
}

.btn-container-icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}